name: CI/CD Blue-Green

on:
  workflow_dispatch:
    inputs:
      target:
        description: "¿A qué color quieres desplegar?"
        required: true
        default: "green"
        type: choice
        options:
          - blue
          - green

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: anette-yunuen/pwa1

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to BLUE or GREEN on VPS
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            set -e

            echo "TARGET recibido: ${{ github.event.inputs.target }}"

            if [ "${{ github.event.inputs.target }}" = "blue" ]; then
              echo "Desplegando en BLUE..."
              cd /srv/apps/integradora-blue
              docker compose pull
              docker compose up -d

              echo "Cambiando tráfico a BLUE..."
              SERVER_NAME="_" /usr/local/bin/switch-blue.sh

            else
              echo "Desplegando en GREEN..."
              cd /srv/apps/integradora-green
              docker compose pull
              docker compose up -d

              echo "Cambiando tráfico a GREEN..."
              SERVER_NAME="_" /usr/local/bin/switch-green.sh
            fi

            echo "Limpiando imágenes viejas..."
            docker image prune -f
