name: CI/CD Blue-Green

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: anette-yunuen/pwa1

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy-green:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy new version to GREEN and switch traffic
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            echo "Desplegando nueva versión en GREEN..."
            cd /srv/apps/integradora-green
            docker compose pull
            docker compose up -d

            echo "Cambiando tráfico a GREEN..."
            sudo SERVER_NAME="_" /usr/local/bin/switch-green.sh

            echo "Limpieza de imágenes antiguas..."
            docker image prune -f
